/* --- Architecture : ITCSS --- /
/ --- Convention : Utility first --- */

.relocationSection {
    padding-top: 6rem;
    background-color: var(--color-secondary-000);
}

.mainContentTitle > p:first-child {
    color: var(--color-secondary-600);
}

.mainContentTitle span {
    color: var(--color-primary-900);
}

.mainContentSubtitle p, .mainContentColumnRight > p:first-child {
    color: var(--color-essential-300);
}

.mainContentColumnRight {
    min-width: 312px;
}

.mainContentColumnRight div {
    padding: 1rem;
}

.mainContentColumnRight img {
    min-width: 2rem;
}

.mainContentColumnRight p, .mainContentColumnRight span {
    color: var(--color-primary-800);
}

.buttonRelocationSection {
    padding: 0.75rem 2rem !important;
}


.additionalSection {
    padding: 6rem 0;
}

.headerSlider {
    background-color: var(--color-primary-800);
    padding: 0.25rem;
    min-height: 3rem;
}

.buttonSlider {
    min-height: max-content;
}


.testimonialSection {
    background-color: var(--color-primary-800);
}

.testimonialSection > div:first-child {
    padding: 6rem 0;
}

.testimonialSectionFirstColumn img {
    max-width: 4rem;
}

.testimonialSection > div:first-child > h2:first-child {
    color: var(--color-secondary-100)
}

.testimonialSection p {
    color: var(--color-primary-050);
}

.testimonialSectionFirstColumn, .testimonialSectionLastColumn {
    min-width: 503px;
}


.FAQSection {
    padding: 6rem 0;
    background-color: var(--color-secondary-000);
}

.FAQSection h2 {
    color: var(--color-primary-800);
}

.FAQItems {
    max-width: 725px;
}

details {
    background-color: var(--color-secondary-000);
    border-radius: 0.75rem;
    border: solid 1px var(--color-primary-100);
}

details[open] {
    background-color: var(--color-essential-white);
}

summary {
    padding: 0 1.5rem;
    cursor: pointer;
    min-height: 74px;
}

summary img {
    max-width: 1rem;
}

details img {
    transition: all 0.3s ease-in-out;
}

details[open] img {
    transform: rotate(135deg);
}

.detailsContent {
    padding: 0.75rem 1.5rem 1.5rem 1.5rem;
}

details p, details li {
    font-weight: 600;
    font-size: 18px;
    color: var(--color-essential-500);
    line-height: 25px;
}

li::marker {
    font-size: 0.75rem;
}

details ul {
    padding-left: 1.5rem;
}